#mainNav {
    background-color: #403F4C;
}
body {
    font-family: 'Archivo Narrow', sans-serif;  
    background-color: #E84855; 
    color: #EFBCD5; 
}
h1 {
    font-family: 'Asap', sans-serif; 
    color:  #F9DC5C;
}
a {
    color: #3185FC;
}

