#mainNav {
    background-color: #5b85AA;
}
.navbar-toggler {
  color: white;
  border: 1px solid white;
}
body {
    font-family: 'Archivo Narrow', sans-serif;  
    background-color: #372248; 
    color: white; 
}
h1 {
    font-family: 'Asap', sans-serif; 
    color: #F46036
}
a {
    color: white;
}

